body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@font-face {
  font-family: 'Roboto';
  src: url("//sass/base/fonts/Raleway-Bold.woff2") format("woff2"), url("../sass/base/fonts/Roboto-Bold.woff") format("woff");
  font-display: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../sass/base/fonts/Roboto-Black.woff2") format("woff2"), url("../sass/base/fonts/Roboto-Black.woff") format("woff");
  font-display: auto;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../sass/base/fonts/Roboto-Medium.woff2") format("woff2"), url("../sass/base/fonts/Roboto-Medium.woff") format("woff");
  font-display: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../sass/base/fonts/Roboto-Regular.woff2") format("woff2"), url("../sass/base/fonts/Roboto-Regular.woff") format("woff");
  font-display: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../sass/base/fonts/Raleway-Bold.woff2") format("woff2"), url("../sass/base/fonts/Raleway-Bold.woff") format("woff");
  font-display: auto;
  font-weight: 700;
  font-style: normal;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: "background-color";
  transition-property: "background-color";
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */