.page-header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  @include flex-center($justify: space-between);
}
.navigation {
  display: flex;
  align-items: center;
}
.page-header__logo--color {
  color: $black-color;
}
