// $main-white-color: #fff;
$secondary-Background-Color: #2f303a;
$third-Background-Color: #f5f4fa;
$main-Text-Color: #757575;

$accent-Color: #2196f3;
$icon-Color: #afb1b8;

$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;

$white-color: #fff;
$black-color: black;
